# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.customer.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\DaC\SelfLearning\CSharp\customer\.idea\.idea.customer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
